* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.brand {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.nav-p {
  color: #fff;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  margin-left: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.nav-list a:hover {
  background-color: #555;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 1000;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-content a:hover {
  background-color: #555;
}

#index-emoji {
  font-size: 2rem;
}

.emoji {
  letter-spacing: -6px; /* adjust this value to decrease the spacing */
}

.main-content {
  margin-top: 6rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.main-content p {
  outline: none;
}

.main-content p:focus {
  outline: none;
}

/* Responsive styling */
@media (max-width: 768px) {
  .nav-container {
    flex-wrap: wrap;
  }

  .brand {
    margin-bottom: 0.5rem;
  }

  .nav-list {
    width: 100%;
    justify-content: space-around;
  }
}
